@model TheTopBulgarianChannels.DataModels.YouTubeChannel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>YouTubeChannel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChannelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChannelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChannelHandle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChannelHandle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChannelId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChannelId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subscribers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subscribers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Views)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Views)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Videos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Videos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChannelUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChannelUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
