@model IEnumerable<TheTopBulgarianChannels.DataModels.Instagram>

@{
    ViewData["Title"] = "Index";
}

<h1>Instagram Ranking</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Rank</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Followers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var rank = 1;
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@rank</th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Followers)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Posts)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
                rank++;
            }
        }
    </tbody>
</table>
